AWSTemplateFormatVersion: '2010-09-09'
Description: Odoo 17 Deployment on AWS (Single Instance)

Parameters:
  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: The VPC ID where resources will be deployed
  SubnetId:
    Type: AWS::EC2::Subnet::Id
    Description: The subnet ID where the EC2 instance will be deployed
  KeyPairName:
    Type: AWS::EC2::KeyPair::KeyName
    Description: The EC2 key pair name for SSH access
  InstanceType:
    Type: String
    Default: t3.micro
    Description: The EC2 instance type for the Odoo instance
  RdsInstanceType:
    Type: String
    Default: db.t3.micro
    Description: The RDS instance type for the PostgreSQL database
  RdsPassword:
    Type: String
    NoEcho: true
    Description: The password for the RDS instance

Resources:

  # Security Groups
  OdooSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for the Odoo instance
      VpcId: !Ref VpcId
      SecurityGroupEgress:
        - IpProtocol: -1
          FromPort: -1
          ToPort: -1
          CidrIp: 0.0.0.0/0

  RdsSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for the RDS instance
      VpcId: !Ref VpcId
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: !Ref OdooSecurityGroup

  # IAM Role and Instance Profile
  OdooRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - ec2.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore
        - arn:aws:iam::aws:policy/SecretsManagerReadWrite

  OdooInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles:
        - !Ref OdooRole

  # EC2 Instance
  OdooInstance:
    Type: AWS::EC2::Instance
    Properties:
      ImageId: ami-07caf09b362be10b8 # Amazon Linux 2023 AMI 2023.4.20240429.0 x86_64 HVM kernel-6.1
      InstanceType: !Ref InstanceType
      IamInstanceProfile: !Ref OdooInstanceProfile
      KeyName: !Ref KeyPairName
      SecurityGroupIds:
        - !Ref OdooSecurityGroup
      SubnetId: !Ref SubnetId
      UserData:
        Fn::Base64:
          !Sub |
            #!/bin/bash
            https://raw.githubusercontent.com/medenhan/Odoo17/main/user-data.sh

  # RDS Instance
  OdooDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      DBName: odoo
      Engine: postgres
      MasterUsername: odoo
      MasterUserPassword: !Ref RdsPassword
      DBInstanceClass: !Ref RdsInstanceType
      AllocatedStorage: 20
      VPCSecurityGroups:
        - !Ref RdsSecurityGroup
      PubliclyAccessible: false

  # Secrets Manager Secret
  OdooSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: odoo17-db-credentials
      SecretString:
        !Sub
          '{"username": "odoo", "password": "${RdsPassword}", "host": "${OdooDatabase.Endpoint.Address}"}'

Outputs:

  InstancePublicIP:
    Description: The public IP address of the Odoo instance
    Value: !GetAtt OdooInstance.PublicIp

  RdsEndpoint:
    Description: The endpoint for the RDS instance
    Value: !GetAtt OdooDatabase.Endpoint.Address